name: Composer based PHP project

steps:
  - type: collectBuildInstructions
  - type: processSourceFiles
    options:
      fileConditions:
        # PHPStan
        - path: 'phpstan.neon'
          if: 'features["phpstan"]'
        # Rector
        - path: 'rector.php.twig'
          if: 'features["rector"]'
        # Licenses
        - path: 'licenses/GPL-2.0.txt'
          if: 'project["license"] == "GPL-2.0-or-later"'
          target: 'LICENSE.txt'
        - path: 'licenses/GPL-3.0.txt'
          if: 'project["license"] == "GPL-3.0-or-later"'
          target: 'LICENSE.txt'
        - path: 'licenses/MIT.txt.twig'
          if: 'project["license"] == "MIT"'
          target: 'LICENSE.txt'
        # GitHub Actions
        - path: '.github/*'
          if: 'features["github-actions"]'

  - type: generateBuildArtifact
  - type: mirrorProcessedFiles
  - type: runCommand
    options:
      command: "composer install"
  - type: runCommand
    options:
      command: "git init --initial-branch=main"
  - type: runCommand
    options:
      command: "git commit add . && git commit -am 'Initial commit'"

properties:
  # Project
  - identifier: project
    name: Project
    properties:
      - identifier: name
        name: Project name
        type: staticValue
        validators:
          - type: notEmpty
      - identifier: vendor
        name: Vendor name
        type: staticValue
        validators:
          - type: notEmpty
      - identifier: package_name
        name: Composer package name
        type: staticValue
        defaultValue: "{{ project.vendor|slugify }}/{{ project.name|slugify }}"
        validators:
          - type: notEmpty
          - type: regex
            options:
              pattern: '/^[a-z0-9]([_.-]?[a-z0-9]+)*\/[a-z0-9](([_.]|-{1,2})?[a-z0-9]+)*$/'
      - identifier: url
        name: Website URL
        type: staticValue
        defaultValue: "https://github.com/{{ project.vendor|slugify }}/{{ project.name|slugify }}"
        validators:
          - type: notEmpty
          - type: url
      - identifier: license
        name: License
        type: select
        options:
          - value: GPL-2.0-or-later
          - value: GPL-3.0-or-later
          - value: MIT

  # Packages
  - identifier: packages
    name: Packages
    properties:
      - identifier: php
        name: PHP version
        type: select
        options:
          - value: '8.2'
          - value: '8.1'
        validators:
          - type: notEmpty

  # Features
  - identifier: features
    name: Additional features
    properties:
      - identifier: phpstan
        name: Will you be needing <comment>PHPStan</comment>?
        type: question
      - identifier: rector
        name: Will you be needing <comment>Rector</comment>?
        type: question
      - identifier: github-actions
        name: How about some <comment>GitHub Actions</comment>?
        type: question

  # Author
  - identifier: author
    name: About you
    properties:
      - identifier: name
        name: Your name
        type: staticValue
        defaultValue: '{{ get_default_author_name() }}'
        validators:
          - type: notEmpty
      - identifier: email
        name: Your e-mail address
        type: staticValue
        defaultValue: '{{ get_default_author_email() }}'
        validators:
          - type: notEmpty
          - type: email
